body {
    font-family: Arial, sans-serif;
}
body h1{
    text-align: center;
    color: rgb(86, 172, 212);
    font-weight: bold;
}
.skills-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.skill-item {
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    text-align: left;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
}

/*------------------------------------------------*/
.grid-container {
    width: 40%;
    padding-left: 2rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
    padding: 1rem;
}

.grid-item {
    background-color: rgb(86, 172, 212);
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 1rem;
}

/* Adjust sizes for specific items */
.grid-item.css {
    grid-column: span 1;
}

.grid-item.html {
    grid-column: span 2;
}

.grid-item.javascript {
    grid-column: span 3;
}

.grid-item.sql {
    grid-column: span 1;
}

.grid-item.python {
    grid-column: span 3;
}

.grid-item.scikit {
    background-color: rgb(96, 161, 192);
    grid-column: span 3;
}

.grid-item.pandas {
    background-color: rgb(96, 161, 192);
    grid-column: span 3;
}

.grid-item.scipy {
    background-color: rgb(96, 161, 192);
    grid-column: span 3;
}

