<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/coverletter.css">
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <p>Dear Hiring Manager,</p> <br>
        <p>I am Nosipho Precious Donkrag and I am studying Bachelor of Computing at the Belgium IT campus in Pretoria.
        </p>
        <p>I am applying for the year 2025 as students at my university are required to commence employment in their fourth year. During this year there will be no coursework, rather an independent project that runs throughout the year. The university degree is accredited as NQF8.</p>
        
        <p>I have a keen interest in machine learning, data analytics and data science and I have structured my learning on and off campus around these two areas. Throughout my studies I gained a strong foundation in programming, statistics, mathematics and machine learning. Additionally, I have gained invaluable interpersonal skills through my on-campus collaboration with my peers.
        </p>
        <p>During my studies at Belgium IT campus, I have gained soft skills including communication, teamwork and collaboration, and drafting of comprehensive reports of my findings. I work as a tutor both on and off campus and this has helped strengthen my effective communication and problem-solving skills. I am an advocate of continuous learning, perhaps this is why I chose such a dynamic field of study. I was lucky to study at an institution that encourages exploration and growth and I hope to be paired with a company that encourages and supports my continuous growth and learning.</p>
        <p>I am excited about the opportunity to contribute to a dynamic tech environment and to join a team that encourages exploration, growth and innovation. Thank you for considering my application and I look forward to discussing how my skills align with the needs of your team.</p>
        <br><br><p>Sincerely,<br>

    Nosipho Precious Donkrag</p>
</div>
</body>
</html>