<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/projects.css">
    <title>Document</title>
</head>
<body>
    <div class="body">  
        <h1 style = 'padding-left:2rem; font-family: cursive;'>Projects</h1>
    
        <div class="content-container">
            <div class="projects">
                <p><h3>Year Project: Monitoring the Water Hyacinth on the Hartbeespoort Dam</h3>

                <b>Description:</b> Collaborated with the Belgium Campus and Rhodes University to develop an end-to-end solution for monitoring the invasive water Hyacinth species on the Hartbeespoort Dam. The project involved gathering requirements, designing a machine learning algorithm, and creating an application for researchers and fishermen to predict, locate, and track the spread of the species.</p>
                
                <p><h3>Automating Loan Eligibility Process</h3>
                    <b>Description:</b> Developed a machine learning model to automate the loan eligibility process for a financial institution. This project emphasized understanding the business process, data exploration, and model optimization to classify loan applicants effectively.
                    Key Contributions:
                    
                    Conducted Exploratory Data Analysis (EDA) to understand and preprocess the data.
                    Experimented with various algorithms and conducted hyperparameter tuning to optimize model performance.
                    Implemented data transformation and feature engineering to improve model accuracy.
                    Deployed the model for real-time classification.
                    Technologies Used: Python, Scikit-Learn, Pandas, NumPy.</p>
                <p><h3>Handwritten Digit Recognition</h3>
                    <b>Description:</b> Developed an algorithm to classify handwritten digits (0-9) from the MNIST dataset. This project was a deep dive into image processing and machine learning techniques, emphasizing data preprocessing and model training.
                    <b>Key Contributions:</b>
                    
                    Preprocessed the MNIST dataset, including flattening and normalizing the images.
                    Designed and implemented an ml model to classify digits.
                    Evaluated model performance and fine-tuned parameters to achieve optimal results.
                    Documented the entire process and findings, highlighting challenges and solutions.
                    Technologies Used: Python, TensorFlow, Keras, Pandas, NumPy.</p>    
            </div>
            <div class="stackk">
                <h1>Stack</h1>
                <div class="grid-container">
                    <div class="grid-item css">css</div>
                    <div class="grid-item c-sharp">c#</div>
                    <div class="grid-item html">html</div>
                    <div class="grid-item c-plus">c++</div>
                    <div class="grid-item javascript">javascript</div>
                    <div class="grid-item sql">sql</div>
                    <div class="grid-item python">python</div>
                    <div class="grid-item scikit">scikit-learn</div>
                    <div class="grid-item pandas">Pandas</div>
                    <div class="grid-item scipy">Scipy</div>
                    <div class="grid-item matplotlib">Matplotlib</div>
                    <div class="grid-item seaborn">Seborn</div>
                    <div class="grid-item seaborn">Excel</div>
                </div>
            </div>
            
        </div>
        
</body>
</html>