<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/skills.css">
    <title>Document</title>
</head>
<body>
    <h1 style = 'padding-left:2rem; font-family: cursive;'>Technical Skills</h1>
    <div class="skills-container">
        <div class="skill-item">
            <h3 class="heading">Databases</h3>
            -   SQL Server<br><br>
            -	Database design and implementation<br><br>
            -	Data normalisation and integrity maintenance<br><br> 
            -	Data manipulation and data definition languages (DML and DDL)<br>
        </div>
        <div class="skill-item">
            <h3 class="heading">Programming</h3>
            -	Object orientated programming (OOP)<br><br>
            -	GUI development<br><br>
            -	Even driven programming<br><br>
            -	Data structures and types (collections, Enums etc.)<br><br>
            -	Error handling<br><br>
            -	Website design and development
                (Responsive and event driven development)<br><br>

        </div>

        <div class="skill-item">
            <h3 class="heading">Mathematics</h3>
        -	Problem solving using linear programming<br><br>
        -	Mathematical modelling and optimisation techniques<br><br>
        -   Statistics <br><br>

        </div>
        <div class="skill-item">
            <h3 class="heading">Data preparation</h3>
        -	Data loading and handling<br><br>
        -	Exploratory Data analysis (EDA)<br><br>
        -	Data transformation<br><br>
        -	Cleaning and normalisation<br><br>
        -	Text and image pre-processing<br><br>
        -   Working with external Sources (csv, excel, Json and
        Query results from SQL databases)<br><br>
        

        </div>

        <div class="skill-item">
            <h3 class="heading">Data visualisation</h3>
            -	Scatter plots for relationships between features<br><br>
            -	Box plot for distributions<br><br>
            -	Bar charts for categorical data<br><br>
            -	Heat maps for advanced correlations analysis<br><br> 
            -	Pie charts and histograms<br><br>
        </div>

        <div class="skill-item">
            <h3 class="heading">Machine learning: </h3>
            -	Model implementation in python<br><br>
            -	Hyperparameter tuning<br><br>
            -	Prediction and evaluation<br><br>
            -	Text and image processing<br><br>
            -	Cross validation for optimal parameter values (hyper-parameter tuning)<br><br>

        </div>
    </div>
    <h1 style = 'padding-left:2rem; font-family: cursive;'>General Skills</h1>
    <div class="grid-container">
        <div class="grid-item css">Drafting of reports</div>
        <div class="grid-item html">Research skills</div>
        <div class="grid-item javascript">Teamwork and collaboration</div>
        <div class="grid-item sql">Adaptability</div>
        <div class="grid-item python">Analytical and problem solving skills</div>
        <div class="grid-item scikit">Knowledge and application project management practices</div>
        <div class="grid-item pandas">Ability to develop and communicate ideas effectively</div>
        <div class="grid-item scipy">Ability to identify which visualisation tool to use for analysis</div>
       
       
    </div>
</body>
</html>